/************************************************/
/* Global Styles */
/************************************************/

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;

	--size-1: 0.4rem;
	--size-2: 0.8rem;
	--size-3: 1.2rem;
	--size-4: 1.6rem;
	--size-5: 2rem;
	--size-6: 2.4rem;
	--size-8: 3.2rem;
	--size-9: 3.6rem;
	--size-10: 4rem;
	--size-11: 4.4rem;
	--size-12: 4.8rem;
	--size-13: 5.2rem;
	--size-14: 5.6rem;
	--size-15: 6rem;
	--size-16: 6.4rem;
	--size-20: 8rem;
	--size-40: 16rem;

	--header1: var(--size-12);
	--header2: var(--size-8);
	--header3: var(--size-6);
	--header4: var(--size-5);
	--header5: var(--size-4);
	--header6: var(--size-3);

	--current-font-size: var(--size-4);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-size: var(--current-font-size);
}

html,
body {
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
}

body {
	overflow-x: hidden;
	max-width: 200rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}

h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 * {
	font-size: inherit;
}

ul,
ol,
dl,
li {
	text-decoration: none;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:link,
a:active,
a:focus,
a:visited {
	color: inherit;
}

button,
a {
	cursor: pointer;
}

/************************************************/
/*  */
/************************************************/
body {
	background: #eee;
}

#main-header,
.container-fluid,
.navbar-header {
	width: 100%;
}

#main-header > nav {
	padding: 0 1em;
}

.section-1,
.section-2,
.section-3 {
	padding: 0.5em;
	background: rgb(199, 198, 198);
	transform: scale(0.95);
	transition: all 0.3s ease-in-out;
}

.section-1:focus,
.section-1:hover,
.section-2:focus,
.section-2:hover,
.section-3:focus,
.section-3:hover {
	box-shadow: 1rem 1rem 2rem rgb(49, 49, 49);
	border: 1rem outset rgb(199, 198, 198);
	transform: translate(-1%) scale(1);
}

/** END HEADER */

/** HOME PAGE **/

#main-content {
	width: 92%;
	margin-bottom: 30px;
}

#main-content h2 {
	font-size: 2.9em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 50px;
}

#main-content h3 {
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 1em;
}

#chicken-tile,
#beef-tile,
#sushi-tile {
	width: 100%;
	padding: 20px;
	background-color: #99ed7b;
	margin-bottom: 60px;
	box-shadow: 0 0 80px #18580b;
}
